<!-- Projects -->
<section class="wrapper style1 align-center" id="projects">
		<div class="inner">
			<h2>Projects</h2>
			<p>RAIL is involved in various Astrophysics and Instrumentation projects and collaborations as listed below</p>
		</div>		
	<!-- Project 1 -->
	<section class="spotlight style2 orient-right content-align-left image-position-center">
		<div class="content">
			<h2>CHIME</h2>
			<p>Canadian Hydrogen Intensity Mapping Experiment. A novel new radio telescope built at the Dominion Astrophysical Radio Observatory (DRAO) in Penticton, BC. CHIME will map large-scale structure in neutral hydrogen - using “hydrogen intensity-mapping” - to probe Baryon Acoustic Oscillations (BAO) and, in turn, Dark Energy.</p>
			<ul class="actions vertical">
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</div>
		<div class="image">
			<img src="/images/spotlight01.jpg" alt="" />
		</div>
	</section>
	<!-- Project 2 -->
	<section class="spotlight style2 orient-left content-align-left image-position-center">
		<div class="content">
			<h2>ICE System</h2>
			<p>The 'ICE' hardware and software framework that implements large arrays of interconnected FPGA-based data acquisition, signal processing and networking nodes economically.</p>
			<ul class="actions vertical">
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</div>
		<div class="image">
			<img src="/images/spotlight02.jpg" alt="" />
		</div>
	</section>
	<!-- Project 3 -->
	<section class="spotlight style2 orient-right content-align-left image-position-center">
		<div class="content">
			<h2>HIRAX</h2>
			<p>The Hydrogen Intensity and Real-time Analysis eXperiment (HIRAX) is a new 400–800 MHz radio interferometer under development for deployment in South Africa. HIRAX will comprise 1024 six meter parabolic dishes on a compact grid and will map most of the southern sky over the course of four years. HIRAX has two primary science goals: to constrain Dark Energy and measure structure at high redshift, and to study radio transients and pulsars. HIRAX will observe unresolved sources of neutral hydrogen via their redshifted 21-cm emission line (‘hydrogen intensity mapping’).</p>
			<ul class="actions vertical">
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</div>
		<div class="image">
			<img src="/images/spotlight03.jpg" alt="" />
		</div>
	</section>
	<!-- Project 4 -->
	<section class="spotlight style2 orient-left content-align-left image-position-center">
		<div class="content">
			<h2>Radio Transients</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.</p>
			<ul class="actions vertical">
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</div>
		<div class="image">
			<img src="/images/spotlight04.jpg" alt="" />
		</div>
	</section>
	<!-- Project 5 -->
	<section class="spotlight style2 orient-right content-align-left image-position-center">
		<div class="content">
			<h2>Research Experience for Teachers: DSPiRA</h2>
			<p>Digital Signal Processing in Radio Astronomy (DSPIRA) is an <a rel="nofollow" class="external text" href="http://nsf.gov">NSF</a> <a rel="nofollow" class="external text" href="https://www.nsf.gov/funding/pgm_summ.jsp?pims_id=505170">Research Experiences for Teachers</a> (RET) in Engineering and Computer Science Site at the <a rel="nofollow" class="external text" href="http://www.wvu.edu">West Virginia University</a> <a rel="nofollow" class="external text" href="http://lcsee.statler.wvu.edu/">Lane Department of Computer Science and Engineering</a>. The Principal Investigators are Professors Natalia Schmid and Kevin Bandura. The GBO coordinator is Richard Prestage
			</p>
			<ul class="actions vertical">
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</div>
		<div class="image">
			<img src="/images/spotlight05.jpg" alt="" />
		</div>
	</section>
</section>