<!-- Projects. Content comes from _data/projects.yml; orientation alternates automatically -->
<section class="wrapper style1 align-center" id="projects">
   <hr>
   <h1>&#9190; Projects &#9190;</h1>
   <hr>
   {% for project in site.data.projects %}
   <section class="spotlight style2 content-align-left image-position-center {% cycle 'orient-right', 'orient-left' %}">
      <div class="content">
         <h2>{{ project.name }}</h2>
         <p class="justify">{{ project.blurb }}</p>
         <ul class="actions vertical">
            <li><a href="{{ project.url }}" class="button">Learn More</a></li>
         </ul>
      </div>
      <div class="image">
         <img src="{{ project.image | relative_url }}" alt="{{ project.name }}" />
      </div>
   </section>
   <hr>
   {% endfor %}
</section>
