<!DOCTYPE HTML>
<html>
    {% include head.html %}
	
	<body>
		<div class="navbar">
  			<div><a href="#rail">Home</a></div>
  			<div><a href="#projects">Projects</a></div>
 			<div><a href="#people">People</a></div>
  			<div><a href="#blog">Blog</a></div>
		</div>
		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- Landing Page -->
					<section class="banner style5 orient-center content-align-center image-position-center fullscreen onload-image-fade-in onload-content-fade-down invert" id="rail">
						<div class="content">
							<h1>WVU RAIL</h1>
							<p class="major">West Virgnia University ⏦ Radio Astronomy Instrumentation Laboratory</p>
							<p>RAIL is a multidisciplinary group within the Lane Department of Computer Science and Electrical Engineering at West Virgnia University that focuses on Engineering and Science solutions in Radio Astronomy.</p>
							<p>Investigations are currently focused on Cosmology, Radio Transient Detectons, Instrumentation and Science Education. RAIL also works in close collaboration with the Center for Gravitational Waves and Cosmology and the Physics and Astronomy Department at WVU</p>
						</div>
						<div class="image">
							<img src="images/banner.jpg" alt="" />
						</div>
					</section>

				{% include projects.html %}
				{% include people.html %}

				<!-- Blog -->
				<<section class="banner onload-image-fade-in onload-content-fade-right style3 fullscreen orient-right content-align-left image-position-center" id="blog">
						<div class="content">
							<h1>RAIL Journal</h1>
							<p class="major"> Check out our lab blog</p>
							<ul class="actions vertical">
								<li><a href="/blog/" class="button big wide smooth-scroll-middle">Blog</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="images/banner.jpg" alt="">
						</div>
				</section>
				<!-- Footer -->
				{% include footer.html %}
			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
			<script src="/assets/js/smoothscroll.js"></script>

			
	</body>
</html>
